/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
@import "./modals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* in index.css or App.css */

/* Custom fix for react-date-range calendar overflow */
.rdrCalendarWrapper {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.marker {
  cursor: pointer;
}
